{{ define "main" }}

<h1>{{.Title}}</h1>

{{ if ( eq ( len .Pages ) 0 ) }}

    <div class="high-text-container">
    <p class="high-text">Nothing to see here – yet</p>

    <span class="emoj">;-;</span>

    <p class="grey">Some content will be available soon</p>
    </div>

{{ else }}

{{.Content}}

    <section class="projects">
        {{ range .Paginator.Pages}}
        <section class="project">
            <div>
                <h3><a href="{{.RelPermalink}}">{{ .Title }}</a></h3>
                <p class="project-date">{{ .Date | dateFormat "Jan 2, 2006" }}</p>
                <p>{{ .Summary }}</p>
                <div class="project-tech">
                    {{ range .Params.tech_used }}
                    <p>#{{ . }}</p>
                    {{ end }}
                </div>
            </div>
            <figure class="project-image-summary">
                <div>
                    {{ $myarray := split .Params.Imageinfo "|"}}
                    <img src="{{ .Params.Image }}" alt="{{ index $myarray 0 }}"/>
                </div>
            </figure>
        </section>
        {{ end }}
    </section>

{{ template "_internal/pagination.html" . }}

{{ end }}

{{ end }}