
{{ $currentPage := . }}
{{- range .Site.Menus.main -}}
    <li class="nav-item" role="presentation">
        {{- if eq $currentPage.Title .Title -}}
            <!-- substitute the link with (.URL) -->
            <a href="https://www.imstefanolia.com" class="nav-link active">
                <span>{{ .Title }}</span>
            </a>
        {{- else -}}
            <!-- substitute the link with (.URL) -->
            <a href="https://www.imstefanolia.com" class="nav-link">
                <span>{{ .Title }}</span>
            </a>
        {{- end -}}
    </li>
{{- end -}}

