<div class="navigation">
    <!--{{ partial "logo.html" }}
    <h1 class="site-title"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>-->


    <nav class="internal navbar navbar-dark navbar-expand-lg bg-primary">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggler d-lg-none"
                  data-toggle="collapse"
                  data-target="#n1"
                  aria-expanded="false">
                   <span class="sr-only">Home</span> 
                   &#9776;
              </button>
            </div>
            <a id="logo" class="navbar-brand" href="/">
                <!--<i class="fa fa-home"></i>-->
                Stefano Lia
            </a>
            <!--<a class="navbar-brand" href="/">Home</a>-->
        </div>
        <div class="collapse navbar-collapse" id="n1">
            {{ partial "menu.html" . }}
        </div>
    </nav>
</div>
