{{- define "main" -}}
<div class="introduction">
    <!--<div class="introduction-section">
        <p class="introduction-text">
            Hi! I'm Stefano.
        </p>
        {{.Content}}
    </div>
    <div class="introduction-section">
        <div class="introduction-text">
            <p class="introduction-text-im">I'm a <span class="definition">Developer</span></p>
            <p> Solid background in Computer Science. I like developing for Web and have experience with different programming languages. </p>
        </div>
        <figure class="introduction-img">
            <img src="images/lia_stefano2.png" width="600px"/>
        </figure>
    </div>
</div>-->

    <div class="introduction-section">
        <div class="introduction-text">
            <p class="introduction-text-im">Hi! I'm Stefano.</p>
            {{.Content}}
        </div>
    </div>

    {{- range .Site.Data.homepage.im -}}
    <div id="{{ .id }}" class="introduction-section">
        <div class="introduction-text">
            <p class="introduction-text-im">I'm a <span class="definition">{{ .definition }}</span></p>
            <p> {{ .description }} </p>
            <ul class="qualifications">
                {{- range .qualifications -}}
                    {{- if isset . "link" -}}
                        <li><a href="{{ .link }}" target="_blank" style="color: {{ .color }};"><span>#</span>{{ .qualification }}</a></li>
                    {{- else -}}
                        <li style="color: {{ .color }};"> {{ .qualification }}</li>
                    {{- end -}}
                {{- end -}}
            </ul>
        </div>
        <!--<figure class="introduction-img">
            <img src="{{.img}}" width="800px"/>
        </figure>-->
    </div>
    {{- end -}}

    <!--<p class="info-arrow">click the buttons to see my skills</p>
    <p><i class="arrow down"></i></p>-->

{{- end -}}
